html{
    font-synthesis: antialiased;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #167532;
}

textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 1px solid black;
    outline: 0;
}

input:hover{
    outline: 1px solid rgb(88, 88, 88);
}

#fixed-bg{
    width: 100%;
    text-align: center;
}

#fixed-bg img{
    height: 50px;
    padding: 30px 0px 20px 0px;
}

#title-area{
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 28px;
    padding: 0px 0px 20px;
    margin: auto;
}


#container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input-group{
    width: 100%;
    margin-bottom: 5px;
}

.label-default{
    color: #4A4A4A;
    font-family: 'Nunito Sans', sans-serif;
}

.input-default{
    width: 95%;
    height: 30px;
    padding-left: 10px;
    margin: 0px auto 0px auto;
    transition: 0.2s;
    border: 1px solid #4A4A4A;
}

.input-error{
    width: 95%;
    height: 30px;
    padding-left: 10px;
    border:1px solid red;
    margin: 0px auto 0px auto;
    transition: 0.2s;
}

.input-error:hover{
    border-color: red;
}

.error-msg{
    color: red;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    height: 15px;
    transition: 0.2s;
}

#btn-sou_empresa:hover{
    text-decoration: underline;
}

.btn-continuar{
    color: white;
    width: 97.5%;
    background-color: #17A2B8;
    height: 45px;
    line-height: 37px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 0px auto;
    cursor: pointer;
    transition: 0.2s;

    border: none;
}

.btn-continuar:hover{
    background-color: #012142;
}

/* BOX SHADOW */
#app-area{
    width: fit-content;
    background-color: white;
    border-radius: 5px;
}

#app-area
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#app-area:before, #app-area:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#app-area:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.title-session{
    font-size: 25px;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}


/* SESSION PERSONAL DATA */
#session-personal-data{
    width: 780px;
    padding: 40px;
    display: none;
}

#image{
    display: none;
}

#preview-area{
    width: 31.3%;
    border: 1px solid #4A4A4A;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#preview-area:hover{
    outline: black 1px solid;
}

.preview-error{
    width: 31.3%;
    border: 1px solid red !important; 
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preview-error:hover{
    border: 1px solid red !important;
}

#uploaded-img{
    height: 100px;
}

.fas.fa-camera{
    font-size: 50px;
}

#cpf, #tel, #cep, #idade{
    width: 30%;
}

.cidade_estado{
    display: flex;
    flex-direction: row;
}

.cidade_estado input{
    border: none !important;
    margin: 0px !important;
    padding-left: 10px !important;
    font-weight: bold;
    background-color: white;
}

#bairro{
    border: none !important;
    margin: 0px !important;
    padding-left: 10px !important;
    font-weight: bold;
    background-color: white;
}

.cidade_estado input:hover{
    border: none !important;
}

#estado{
    width: fit-content;
    margin-left: 20px !important;
}

#cidade{
    width: fit-content;
}

#show-data-cep{
    display: none;
    margin-bottom: 10px;
}


/* SESSION EXPERIENCES */
#session-experiences{
    /* display: none; */

    width: 780px;
    padding: 40px;
}

.input-group.no-exp{
    margin-bottom: 10px;
}

.input-group.no-exp span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}