body{
    background-color: #F4F4F4;
}

#banner_home{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(-225deg, rgba(21,121,173,0.6) 0%, rgba(15, 145, 53,0.6) 20%),url(../images/banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

#banner_inv{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#banner_text{
    width: 50%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#banner_title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 55px;
}

.text-banner{
    position: absolute;
    opacity: 0;
    animation: fader 9s infinite;
}

#banner-enf{animation-delay: 0s;}
#banner-aux{animation-delay: 3s;}
#banner-tec{animation-delay: 6s;}

#banner_btn_area{
    width: 50%;
    display: flex;
    margin-top: 30px;
}

@keyframes fader{
    10%{
        opacity: 1;
    }

    20%{
        opacity: 1;
    }

    30%{
        opacity: 1;
    }

    40%{
        opacity: 0;
    }

}

#banner_email{
    margin-top: 20px;
}

#input-email{
    width: 350px;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid white;
}

#input-email::placeholder{
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.input-error{
    border: 2px solid red !important; 
}

#msg-error{
    color: red;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    height: 10px;
}

#btn-banner{
    height: 44px;
    width: 150px;
    background-color: #20B1FC;
    border: 1px solid #005BB6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#title_benefs{
    font-family: 'Noto Sans KR', sans-serif;
    color: #4A4A4A;
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
}


#title_last_jobs{
    font-family: 'Noto Sans KR', sans-serif;
    color: #4A4A4A;
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#last_jobs_area{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.job_box{
    background-color: white;
    margin-bottom: 250px;
    width: 360px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 0px 20px 0px 20px;
}

.img_enterprise_area{
    text-align: center;
    padding: 25px 0px 25px 0px;
    border-bottom: solid 1px #DEDEDE;
}



.img_enterprise{
    height: 100px;
    text-align: center;
}

.job_name{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    padding: 20px 10px 20px 10px;
    word-wrap: break-word;
    color: #22B14C;
}

.enterprise_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.enterprise_name{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 4px;
    margin-left: 10px;
    color: #808080;
}

.enterprise_row  img{
    height: 20px;
}

.adress_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px 0px 13px;
    margin-bottom: 25px;
}

.adress_name{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 4px;
    margin-left: 8px;
    color: #808080;
}

.tags_area{
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tags{
    border: 1px solid #22B14C;
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
    color: #22B14C;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    word-wrap: break-word;
    margin: 0px 0px 10px 0px;
}

#btn_all_jobs{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    width: 200px;
    height: 50px;
    background-color: #005BB6;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    font-weight: bold;
    
    margin-left: auto;
    margin-right: auto;

    margin-top: 60px;
    margin-bottom: 60px;

    transition: 0.2s;
}

#btn_all_jobs:hover{
    background-color: #012142;
}


@media screen and (max-width: 520px){
    #banner_home{
        height: 40vh;
    }

    #banner_text{
        font-size: 35px;
    }

    #banner_btn{
        font-size: 19px;
        width: 200px;
        height: 50px;
    }

}